:root {
  --primary-color: #CBDF90;
  --background-color: #e8d6cb;
  --cta-background-color: #FEC196;
  --secondary-color: #444545;
  --accent-color-one: #ffc300;
  --accent-color-two: #ff7b00;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  font-family: 'Underdog Regular', Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100%;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0;
}

p,
li {
  font-size: 1.2rem;
}

@media screen and (min-width:769px) {
  h1 {
    font-size: 5rem;
  }

  p,
  li {
    font-size: 1.5rem;
  }
}