:root {
  --background-text-color: #CBDF90;
  --background-color: #e8d6cb;
  --color: #444545
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  font-family: 'Underdog Regular', Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100%;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p,
li {
  font-size: 1.2rem;
}

@media screen and (min-width:769px){
  h1 {
    font-size: 5rem;
  }
}