.header_title {
  background-color: transparent;
  color: var(--accent-color-one);
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  background-image: url(../assets/background_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 2rem;
}

.storyline {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.instructions {
  margin-left: 2rem;
}

.btn {
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.2rem;
  padding: 1rem;
  text-transform: uppercase;
}

.game_container {
  text-align: center;
}

.map {
  align-items: center;
  border-radius: 10px;
  color: var(--secondary-color);
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 40px);
  justify-content: center;
  padding: 1rem;
}

.room {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 6px;
  display: flex;
  font-size: 1.5rem;
  height: 40px;
  justify-content: center;
  opacity: 0.8;
  width: 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.directions {
  margin: 0.5rem 0rem;
  text-align: center;
}

.directionBtn {
  background-color: var(--background-color);
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 1rem;
  transition: transform .15s, box-shadow .15s;
}

.status_container,
.counter_container,
.message_container,
.score_container {
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

.score_container {
  color: var(--accent-color-one);
}

.status_container {
  color: var(--accent-color-two);
}

.counter_container,
.message_container {
  color: var(--primary-color);
  font-style: italic;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.message-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: baseline;
}

.playername_container {
  background-color: var(--background-color);
  font-size: 1.2rem;
  letter-spacing: 0;
  margin-bottom: 1rem;
  text-transform: none;
}

.start_button,
.replay_button {
  background-color: var(--cta-background-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.press {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--secondary-color)
}

@media screen and (min-width:769px) {
  .main-content {
    padding: 3rem;
  }

  .storyline {
    margin-left: 2rem;
  }

  .btn {
    width: 50%;
  }

  .map {
    grid-template-columns: repeat(5, 100px);
  }

  .room {
    font-size: 3.5rem;
    height: 100px;
    width: 100px;
  }

  .status_container,
  .counter_container,
  .message_container,
  .score_container,
  .start_button,
  .replay_button {
    font-size: 2rem;
  }

  .directionBtn {
    padding: 1rem 2rem;
    font-size: 2.5rem;
  }

  .directionBtn.west {
    margin-right: 4.5rem;
  }

  .message-wrapper {
    flex: 0.5;
  }
}